USE [master]
GO
/****** Object:  Database [QuanLyCamDo_K235480106025]    Script Date: 09/05/2026 5:39:10 CH ******/
CREATE DATABASE [QuanLyCamDo_K235480106025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyCamDo_K235480106025', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_K235480106025.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyCamDo_K235480106025_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyCamDo_K235480106025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyCamDo_K235480106025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyCamDo_K235480106025]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 09/05/2026 5:39:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @MaKhachHang    INT,
    @TargetDate     DATE
)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongNo MONEY = 0;
    DECLARE @MaHD   INT;

    -- Dùng CURSOR để duyệt từng hợp đồng chưa kết thúc
    DECLARE cur_HD CURSOR FOR
        SELECT [MaHopDong]
        FROM [HopDong]
        WHERE [MaKhachHang] = @MaKhachHang
          AND [TrangThai] NOT IN (N'Đã thanh toán', N'Đã thanh lý');

    OPEN cur_HD;
    FETCH NEXT FROM cur_HD INTO @MaHD;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @TongNo = @TongNo
            + dbo.[fn_CalcMoneyTransaction](@MaHD, @TargetDate);
        FETCH NEXT FROM cur_HD INTO @MaHD;
    END;

    CLOSE cur_HD;
    DEALLOCATE cur_HD;

    RETURN @TongNo;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 09/05/2026 5:39:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @MaHopDong  INT,
    @TargetDate DATE
)
RETURNS MONEY
AS
BEGIN
    DECLARE @SoTienVay  MONEY;
    DECLARE @NgayVay    DATE;
    DECLARE @Deadline1  DATE;
    DECLARE @TongNo     MONEY = 0;

    SELECT
        @SoTienVay = [SoTienVay],
        @NgayVay   = [NgayVay],
        @Deadline1 = [Deadline1]
    FROM [HopDong]
    WHERE [MaHopDong] = @MaHopDong;

    IF @SoTienVay IS NULL RETURN 0;

    -- Giai đoạn 1: Lãi đơn (TargetDate còn trong hạn)
    IF @TargetDate <= @Deadline1
    BEGIN
        DECLARE @SoNgayDon INT = DATEDIFF(DAY, @NgayVay, @TargetDate);
        SET @TongNo = @SoTienVay + dbo.[fn_TinhLaiDon](@SoTienVay, @SoNgayDon);
    END
    -- Giai đoạn 2: Lãi kép (TargetDate đã vượt Deadline1)
    ELSE
    BEGIN
        -- Tính nợ tại Deadline1
        DECLARE @SoNgayDenD1 INT = DATEDIFF(DAY, @NgayVay, @Deadline1);
        DECLARE @NoDiD1 MONEY =
            @SoTienVay + dbo.[fn_TinhLaiDon](@SoTienVay, @SoNgayDenD1);

        -- Áp lãi kép từ Deadline1 → TargetDate
        -- Dùng hàm POWER() để tính lũy thừa: GốcMới × (1.005)^N
        DECLARE @SoNgayKep INT = DATEDIFF(DAY, @Deadline1, @TargetDate);
        SET @TongNo = @NoDiD1 * POWER(CAST(1.005 AS FLOAT), @SoNgayKep);
    END

    -- Trừ các khoản đã trả trong LichSuThanhToan
    DECLARE @DaTra MONEY = 0;
    SELECT @DaTra = ISNULL(SUM([SoTienTra]), 0)
    FROM [LichSuThanhToan]
    WHERE [MaHopDong] = @MaHopDong
      AND CAST([NgayTra] AS DATE) <= @TargetDate;

    SET @TongNo = @TongNo - @DaTra;
    IF @TongNo < 0 SET @TongNo = 0;

    RETURN CAST(@TongNo AS MONEY);
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhLaiDon]    Script Date: 09/05/2026 5:39:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TinhLaiDon]
(
    @SoTienGoc  MONEY,
    @SoNgay     INT
)
RETURNS MONEY
AS
BEGIN
    -- Lãi suất: 5.000đ / 1.000.000đ / ngày = 0.5%/ngày
    RETURN @SoTienGoc * 0.005 * @SoNgay;
END;

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/05/2026 5:39:10 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](150) NOT NULL,
	[SoDienThoai] [varchar](15) NOT NULL,
	[SoCCCD] [varchar](20) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHopDong] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NOT NULL,
	[SoTienVay] [money] NOT NULL,
	[NgayVay] [date] NOT NULL,
	[Deadline1] [date] NOT NULL,
	[Deadline2] [date] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[NgayTao] [datetime] NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[MaHopDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhSachNoXau]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DanhSachNoXau]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        kh.[HoTen]                              AS [TenKhachHang],
        kh.[SoDienThoai],
        hd.[MaHopDong],
        hd.[SoTienVay]                          AS [SoTienVayGoc],
        hd.[NgayVay],
        hd.[Deadline1],
        DATEDIFF(DAY, hd.[Deadline1], GETDATE()) AS [SoNgayQuaHan],
        dbo.[fn_CalcMoneyTransaction](
            hd.[MaHopDong],
            CAST(GETDATE() AS DATE)
        )                                       AS [TongTienPhaiTraHomNay],
        dbo.[fn_CalcMoneyTransaction](
            hd.[MaHopDong],
            CAST(DATEADD(MONTH, 1, GETDATE()) AS DATE)
        )                                       AS [TongTienPhaiTraSau1Thang],
        hd.[TrangThai]
    FROM [HopDong] hd
    JOIN [KhachHang] kh ON hd.[MaKhachHang] = kh.[MaKhachHang]
    WHERE hd.[Deadline1] < CAST(GETDATE() AS DATE)
      AND hd.[TrangThai] NOT IN (N'Đã thanh toán', N'Đã thanh lý')
);

GO
/****** Object:  Table [dbo].[LichSuThanhToan]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuThanhToan](
	[MaLichSu] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[NgayTra] [datetime] NOT NULL,
	[SoTienTra] [money] NOT NULL,
	[NhanVienThu] [nvarchar](150) NOT NULL,
	[DuNoTruocKhi] [money] NOT NULL,
	[DuNoSauKhi] [money] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_LichSuThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaLichSu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiSan]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiSan](
	[MaTaiSan] [int] IDENTITY(1,1) NOT NULL,
	[MaHopDong] [int] NOT NULL,
	[TenTaiSan] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](500) NULL,
	[GiaTriDinhGia] [money] NOT NULL,
	[TrangThai] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_TaiSan] PRIMARY KEY CLUSTERED 
(
	[MaTaiSan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HopDong] ON 

INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [SoTienVay], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu], [NgayTao]) VALUES (1, 1, 5000000.0000, CAST(N'2026-04-01' AS Date), CAST(N'2026-06-01' AS Date), CAST(N'2026-07-01' AS Date), N'Đang vay', NULL, CAST(N'2026-05-09T15:37:32.627' AS DateTime))
INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [SoTienVay], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu], [NgayTao]) VALUES (2, 1, 3000000.0000, CAST(N'2026-04-10' AS Date), CAST(N'2026-05-10' AS Date), CAST(N'2026-06-10' AS Date), N'Đang vay', NULL, CAST(N'2026-05-09T15:38:10.383' AS DateTime))
INSERT [dbo].[HopDong] ([MaHopDong], [MaKhachHang], [SoTienVay], [NgayVay], [Deadline1], [Deadline2], [TrangThai], [GhiChu], [NgayTao]) VALUES (3, 2, 10000000.0000, CAST(N'2026-03-01' AS Date), CAST(N'2026-03-31' AS Date), CAST(N'2026-04-30' AS Date), N'Đã thanh lý', NULL, CAST(N'2026-05-09T16:40:20.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[HopDong] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [SoCCCD], [DiaChi], [NgayTao]) VALUES (1, N'Nguyễn Văn An', N'0912345678', N'001099012345', N'123 Trần Phú, Hà Nội', CAST(N'2026-05-09T15:37:32.620' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKhachHang], [HoTen], [SoDienThoai], [SoCCCD], [DiaChi], [NgayTao]) VALUES (2, N'Trần Thị Bình', N'0987654321', NULL, NULL, CAST(N'2026-05-09T16:40:20.327' AS DateTime))
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] ON 

INSERT [dbo].[LichSuThanhToan] ([MaLichSu], [MaHopDong], [NgayTra], [SoTienTra], [NhanVienThu], [DuNoTruocKhi], [DuNoSauKhi], [GhiChu]) VALUES (1, 1, CAST(N'2026-05-09T15:57:22.120' AS DateTime), 2000000.0000, N'Hoàng Đình Hiếu', 5984065.5026, 3984065.5026, NULL)
SET IDENTITY_INSERT [dbo].[LichSuThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiSan] ON 

INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [MoTa], [GiaTriDinhGia], [TrangThai]) VALUES (1, 1, N'Điện thoại iPhone 14 Pro', N'Màu đen, 256GB, còn bảo hành', 8000000.0000, N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [MoTa], [GiaTriDinhGia], [TrangThai]) VALUES (2, 1, N'Đồng hồ Casio G-Shock', NULL, 2500000.0000, N'Đang cầm cố')
INSERT [dbo].[TaiSan] ([MaTaiSan], [MaHopDong], [TenTaiSan], [MoTa], [GiaTriDinhGia], [TrangThai]) VALUES (3, 2, N'Laptop Dell Inspiron 15', NULL, 7000000.0000, N'Đang cầm cố')
SET IDENTITY_INSERT [dbo].[TaiSan] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_KhachHang_SDT]    Script Date: 09/05/2026 5:39:11 CH ******/
ALTER TABLE [dbo].[KhachHang] ADD  CONSTRAINT [UQ_KhachHang_SDT] UNIQUE NONCLUSTERED 
(
	[SoDienThoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (CONVERT([date],getdate())) FOR [NgayVay]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (N'Đang vay') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[LichSuThanhToan] ADD  DEFAULT (getdate()) FOR [NgayTra]
GO
ALTER TABLE [dbo].[TaiSan] ADD  DEFAULT (N'Đang cầm cố') FOR [TrangThai]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [FK_HopDong_KhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [FK_HopDong_KhachHang]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_LichSu_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [FK_LichSu_HopDong]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [FK_TaiSan_HopDong] FOREIGN KEY([MaHopDong])
REFERENCES [dbo].[HopDong] ([MaHopDong])
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [FK_TaiSan_HopDong]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_Deadline] CHECK  (([Deadline2]>[Deadline1] AND [Deadline1]>[NgayVay]))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_Deadline]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_SoTienVay] CHECK  (([SoTienVay]>(0)))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_SoTienVay]
GO
ALTER TABLE [dbo].[HopDong]  WITH CHECK ADD  CONSTRAINT [CK_HopDong_TrangThai] CHECK  (([TrangThai]=N'Đã thanh lý' OR [TrangThai]=N'Đã thanh toán' OR [TrangThai]=N'Đang trả góp' OR [TrangThai]=N'Quá hạn (nợ xấu)' OR [TrangThai]=N'Đang vay'))
GO
ALTER TABLE [dbo].[HopDong] CHECK CONSTRAINT [CK_HopDong_TrangThai]
GO
ALTER TABLE [dbo].[LichSuThanhToan]  WITH CHECK ADD  CONSTRAINT [CK_LichSu_SoTienTra] CHECK  (([SoTienTra]>(0)))
GO
ALTER TABLE [dbo].[LichSuThanhToan] CHECK CONSTRAINT [CK_LichSu_SoTienTra]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CK_TaiSan_GiaTri] CHECK  (([GiaTriDinhGia]>(0)))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CK_TaiSan_GiaTri]
GO
ALTER TABLE [dbo].[TaiSan]  WITH CHECK ADD  CONSTRAINT [CK_TaiSan_TrangThai] CHECK  (([TrangThai]=N'Đã bán thanh lý' OR [TrangThai]=N'Sẵn sàng thanh lý' OR [TrangThai]=N'Đã trả khách' OR [TrangThai]=N'Đang cầm cố'))
GO
ALTER TABLE [dbo].[TaiSan] CHECK CONSTRAINT [CK_TaiSan_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaHanHopDong]
    @MaHopDong      INT,
    @Deadline1Moi   DATE,
    @Deadline2Moi   DATE,
    @NhanVienThu    NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @TrangThaiHD NVARCHAR(30);
    DECLARE @SoTienVay   MONEY;

    SELECT @TrangThaiHD = [TrangThai], @SoTienVay = [SoTienVay]
    FROM [HopDong] WHERE [MaHopDong] = @MaHopDong;

    IF @TrangThaiHD IN (N'Đã thanh toán', N'Đã thanh lý')
    BEGIN
        RAISERROR(N'Hop dong nay da ket thuc, khong the gia han!', 16, 1);
        RETURN;
    END

    DECLARE @NgayHomNay DATE = CAST(GETDATE() AS DATE);

    -- Tính tiền lãi phải trả để gia hạn = TổngNợ - Gốc
    DECLARE @TongNo      MONEY = dbo.[fn_CalcMoneyTransaction](@MaHopDong, @NgayHomNay);
    DECLARE @TienLaiPhaiTra MONEY = @TongNo - @SoTienVay;
    IF @TienLaiPhaiTra < 0 SET @TienLaiPhaiTra = 0;

    -- Ghi log khoản trả lãi
    IF @TienLaiPhaiTra > 0
        INSERT INTO [LichSuThanhToan]
            ([MaHopDong],[NgayTra],[SoTienTra],[NhanVienThu],
             [DuNoTruocKhi],[DuNoSauKhi],[GhiChu])
        VALUES
            (@MaHopDong, GETDATE(), @TienLaiPhaiTra, @NhanVienThu,
             @TongNo, @SoTienVay, N'Tra lai de gia han hop dong');

    -- Cập nhật Deadline mới và reset trạng thái
    UPDATE [HopDong]
    SET [Deadline1] = @Deadline1Moi,
        [Deadline2] = @Deadline2Moi,
        [TrangThai] = N'Đang vay'
    WHERE [MaHopDong] = @MaHopDong;

    PRINT N'Gia han thanh cong!';
    PRINT N'Tien lai da thu: ' + FORMAT(@TienLaiPhaiTra, 'N0') + N'd';
    PRINT N'Deadline1 moi  : ' + CONVERT(NVARCHAR, @Deadline1Moi, 103);
    PRINT N'Deadline2 moi  : ' + CONVERT(NVARCHAR, @Deadline2Moi, 103);
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TiepNhanHopDong]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TiepNhanHopDong]
    @HoTen          NVARCHAR(150),
    @SoDienThoai    VARCHAR(15),
    @SoCCCD         VARCHAR(20)   = NULL,
    @DiaChi         NVARCHAR(300) = NULL,
    @SoTienVay      MONEY,
    @NgayVay        DATE          = NULL,
    @Deadline1      DATE,
    @Deadline2      DATE,
    @TenTaiSan1     NVARCHAR(200),
    @MoTaTaiSan1    NVARCHAR(500) = NULL,
    @GiaTri1        MONEY,
    @TenTaiSan2     NVARCHAR(200) = NULL,
    @GiaTri2        MONEY         = NULL,
    @TenTaiSan3     NVARCHAR(200) = NULL,
    @GiaTri3        MONEY         = NULL,
    @GhiChu         NVARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Bước 1: Kiểm tra đầu vào
    IF @SoTienVay <= 0
    BEGIN
        RAISERROR(N'Số tiền vay phải lớn hơn 0!', 16, 1); RETURN;
    END
    IF @NgayVay IS NULL SET @NgayVay = CAST(GETDATE() AS DATE);
    IF @Deadline1 <= @NgayVay
    BEGIN
        RAISERROR(N'Deadline1 phải sau ngày vay!', 16, 1); RETURN;
    END
    IF @Deadline2 <= @Deadline1
    BEGIN
        RAISERROR(N'Deadline2 phải sau Deadline1!', 16, 1); RETURN;
    END

    -- Bước 2: Tìm hoặc tạo khách hàng
    DECLARE @MaKH INT;
    SELECT @MaKH = [MaKhachHang] FROM [KhachHang]
    WHERE [SoDienThoai] = @SoDienThoai;

    IF @MaKH IS NULL
    BEGIN
        INSERT INTO [KhachHang] ([HoTen],[SoDienThoai],[SoCCCD],[DiaChi])
        VALUES (@HoTen, @SoDienThoai, @SoCCCD, @DiaChi);
        SET @MaKH = SCOPE_IDENTITY();
        PRINT N'Đã tạo khách hàng mới: ' + @HoTen;
    END
    ELSE
        PRINT N'Khách hàng đã tồn tại: ' + @HoTen;

    -- Bước 3: Tạo hợp đồng mới
    INSERT INTO [HopDong]
        ([MaKhachHang],[SoTienVay],[NgayVay],[Deadline1],[Deadline2],[TrangThai],[GhiChu])
    VALUES (@MaKH, @SoTienVay, @NgayVay, @Deadline1, @Deadline2, N'Đang vay', @GhiChu);
    DECLARE @MaHD INT = SCOPE_IDENTITY();

    -- Bước 4: Lưu tài sản thế chấp
    INSERT INTO [TaiSan] ([MaHopDong],[TenTaiSan],[MoTa],[GiaTriDinhGia])
    VALUES (@MaHD, @TenTaiSan1, @MoTaTaiSan1, @GiaTri1);

    IF @TenTaiSan2 IS NOT NULL AND @GiaTri2 IS NOT NULL
        INSERT INTO [TaiSan] ([MaHopDong],[TenTaiSan],[GiaTriDinhGia])
        VALUES (@MaHD, @TenTaiSan2, @GiaTri2);

    IF @TenTaiSan3 IS NOT NULL AND @GiaTri3 IS NOT NULL
        INSERT INTO [TaiSan] ([MaHopDong],[TenTaiSan],[GiaTriDinhGia])
        VALUES (@MaHD, @TenTaiSan3, @GiaTri3);

    PRINT N'Tao hop dong thanh cong! Ma HD: ' + CAST(@MaHD AS NVARCHAR);

    -- Bước 5: Trả về biên lai tóm tắt
    SELECT
        hd.[MaHopDong],
        kh.[HoTen]                            AS [TenKhachHang],
        kh.[SoDienThoai],
        hd.[SoTienVay],
        hd.[NgayVay],
        hd.[Deadline1],
        hd.[Deadline2],
        hd.[TrangThai],
        COUNT(ts.[MaTaiSan])                  AS [SoTaiSan],
        SUM(ts.[GiaTriDinhGia])               AS [TongGiaTriTaiSan],
        SUM(ts.[GiaTriDinhGia]) - hd.[SoTienVay] AS [GiaTriDamBaoDu]
    FROM [HopDong] hd
    JOIN [KhachHang] kh ON hd.[MaKhachHang] = kh.[MaKhachHang]
    JOIN [TaiSan] ts    ON hd.[MaHopDong]   = ts.[MaHopDong]
    WHERE hd.[MaHopDong] = @MaHD
    GROUP BY hd.[MaHopDong], kh.[HoTen], kh.[SoDienThoai],
             hd.[SoTienVay], hd.[NgayVay], hd.[Deadline1],
             hd.[Deadline2], hd.[TrangThai];
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_XuLyTraNo]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XuLyTraNo]
    @MaHopDong      INT,
    @SoTienTra      MONEY,
    @NhanVienThu    NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    -- Lấy thông tin hợp đồng
    DECLARE @TrangThaiHD NVARCHAR(30);
    SELECT @TrangThaiHD = [TrangThai]
    FROM [HopDong] WHERE [MaHopDong] = @MaHopDong;

    IF @TrangThaiHD IS NULL
    BEGIN
        RAISERROR(N'Hợp đồng không tồn tại!', 16, 1); RETURN;
    END

    -- Bước 1: Tài sản đã thanh lý → từ chối thu tiền
    IF @TrangThaiHD = N'Đã thanh lý'
    BEGIN
        PRINT N'[TU CHOI] Hop dong da bi thanh ly tai san.';
        PRINT N'Khong thu tien, khong tra do.';
        RETURN;
    END

    IF @TrangThaiHD = N'Đã thanh toán'
    BEGIN
        PRINT N'Hop dong nay da duoc thanh toan day du.';
        RETURN;
    END

    -- Bước 2: Tính dư nợ hiện tại
    DECLARE @NgayHomNay DATE = CAST(GETDATE() AS DATE);
    DECLARE @DuNo MONEY =
        dbo.[fn_CalcMoneyTransaction](@MaHopDong, @NgayHomNay);

    PRINT N'Du no hien tai: ' + FORMAT(@DuNo, 'N0') + N'd';
    PRINT N'So tien KH tra: ' + FORMAT(@SoTienTra, 'N0') + N'd';

    -- Bước 3: Chỉ thu tối đa bằng dư nợ
    IF @SoTienTra > @DuNo
    BEGIN
        PRINT N'[DIEU CHINH] Chi thu: ' + FORMAT(@DuNo, 'N0') + N'd';
        SET @SoTienTra = @DuNo;
    END

    DECLARE @DuNoSau MONEY = @DuNo - @SoTienTra;

    -- Bước 4: Ghi vào LichSuThanhToan (audit log)
    INSERT INTO [LichSuThanhToan]
        ([MaHopDong],[NgayTra],[SoTienTra],[NhanVienThu],[DuNoTruocKhi],[DuNoSauKhi])
    VALUES
        (@MaHopDong, GETDATE(), @SoTienTra, @NhanVienThu, @DuNo, @DuNoSau);

    -- Bước 5: Cập nhật trạng thái
    IF @DuNoSau = 0
    BEGIN
        -- Trả đủ: đóng hợp đồng và trả hết đồ
        UPDATE [HopDong] SET [TrangThai] = N'Đã thanh toán'
        WHERE [MaHopDong] = @MaHopDong;

        UPDATE [TaiSan] SET [TrangThai] = N'Đã trả khách'
        WHERE [MaHopDong] = @MaHopDong AND [TrangThai] = N'Đang cầm cố';

        PRINT N'[THANH CONG] Thanh toan du! Toan bo tai san da tra lai cho khach.';
    END
    ELSE
    BEGIN
        -- Trả một phần
        UPDATE [HopDong] SET [TrangThai] = N'Đang trả góp'
        WHERE [MaHopDong] = @MaHopDong;

        PRINT N'[GHI NHAN] Da tra mot phan. Du no con lai: '
            + FORMAT(@DuNoSau, 'N0') + N'd';

        -- Bước 6: Gợi ý tài sản có thể trả lại cho khách
        -- Điều kiện: Tổng giá trị tài sản CÒN LẠI sau khi trả bớt
        --            vẫn >= Dư nợ còn lại
        SELECT
            ts.[MaTaiSan],
            ts.[TenTaiSan],
            FORMAT(ts.[GiaTriDinhGia], 'N0') AS [GiaTriDinhGia],
            FORMAT(
                (SELECT ISNULL(SUM(ts2.[GiaTriDinhGia]),0)
                 FROM [TaiSan] ts2
                 WHERE ts2.[MaHopDong] = @MaHopDong
                   AND ts2.[TrangThai] = N'Đang cầm cố'
                   AND ts2.[MaTaiSan] <> ts.[MaTaiSan])
            , 'N0') AS [GiaTriConLaiNeuTraMon],
            CASE
                WHEN (SELECT ISNULL(SUM(ts2.[GiaTriDinhGia]),0)
                      FROM [TaiSan] ts2
                      WHERE ts2.[MaHopDong] = @MaHopDong
                        AND ts2.[TrangThai] = N'Đang cầm cố'
                        AND ts2.[MaTaiSan] <> ts.[MaTaiSan])
                     >= @DuNoSau
                THEN N'Co the tra lai cho khach'
                ELSE N'Chua du dieu kien'
            END AS [GopY]
        FROM [TaiSan] ts
        WHERE ts.[MaHopDong] = @MaHopDong
          AND ts.[TrangThai] = N'Đang cầm cố'
        ORDER BY ts.[GiaTriDinhGia] DESC;
    END
END;

GO
/****** Object:  Trigger [dbo].[trg_CapNhatDaBanThanhLy]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatDaBanThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE([TrangThai])
    BEGIN
        UPDATE [TaiSan]
        SET [TrangThai] = N'Đã bán thanh lý'
        WHERE [MaHopDong] IN (
            SELECT i.[MaHopDong]
            FROM [inserted] i
            WHERE i.[TrangThai] = N'Đã thanh lý'
        )
        AND [TrangThai] IN (N'Đang cầm cố', N'Sẵn sàng thanh lý');

        IF @@ROWCOUNT > 0
            PRINT N'[Trigger 3]: Da chuyen tai san sang "Da ban thanh ly"';
    END
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_CapNhatDaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatQuaHan]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatQuaHan]
ON [dbo].[HopDong]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE [HopDong]
    SET [TrangThai] = N'Quá hạn (nợ xấu)'
    WHERE [TrangThai] = N'Đang vay'
      AND [Deadline1] < CAST(GETDATE() AS DATE)
      AND [MaHopDong] IN (SELECT [MaHopDong] FROM [inserted]);

    IF @@ROWCOUNT > 0
        PRINT N'[Trigger 1]: Da cap nhat sang "Qua han (no xau)"';
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_CapNhatQuaHan]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatSanSangThanhLy]    Script Date: 09/05/2026 5:39:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatSanSangThanhLy]
ON [dbo].[HopDong]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    IF UPDATE([TrangThai])
    BEGIN
        UPDATE [TaiSan]
        SET [TrangThai] = N'Sẵn sàng thanh lý'
        WHERE [MaHopDong] IN (
            SELECT i.[MaHopDong]
            FROM [inserted] i
            WHERE i.[TrangThai] = N'Quá hạn (nợ xấu)'
              AND i.[Deadline2] < CAST(GETDATE() AS DATE)
        )
        AND [TrangThai] = N'Đang cầm cố';

        IF @@ROWCOUNT > 0
            PRINT N'[Trigger 2]: Da chuyen tai san sang "San sang thanh ly"';
    END
END;

GO
ALTER TABLE [dbo].[HopDong] ENABLE TRIGGER [trg_CapNhatSanSangThanhLy]
GO
USE [master]
GO
